/* Media query */
@media screen and (min-width: 1024px) {
    main#about {
        .about-info {
            .bio-container {
                .bio {
                    width: 65%;
                }
                .bio-image {
                    width: 35%;

                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }

        &#about {
            .about-info {
                .bio-container {
                    display: block;

                    .bio, .bio-image {
                        width: 100%;
                        margin: 30px 0;
                    }

                    .bio-image img {
                        margin: 0;
                    }
                }
                .job-container {
                    .job-card {
                        float: none;
                        width: 100%;
                        margin: 20px 0;

                        &:nth-child(2) {
                            margin: 30px 0;
                        }
                    }
                }
            }
        }
    }

    header {

        .menu {

            &-nav, &-branding {
                float: none;
                width: 100%;

                &.show {
                    @include translate3d (0, 0);
                }
            }

            &-nav {
                @include translate3d (-100%, 0);
                height: 75vh;
                font-size: 24px;
            }

            &-branding {
                @include translate3d (100%, 0);
                height: 25vh;

                .portrait {
                    /*background: url('');*/
                    width: 100px;
                    height: 100px;
                }
            }
        }

    }

};


@media screen and (max-width: 500px) {
    main#home h1 {
        margin-top: 15vh;
        font-size: 4rem;
    }

    main#home {
        padding: 2rem;
    }

    main#about{
        h1 {
            font-size: 4rem;
        }

        .about-info {
            .bio-container {
                .bio {
                    font-size: 1rem;
                }

                .bio-image img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

    }
};
